<% include header %>
<form method="post">
    <label>标题:</label></br>
    <input type="text" name="title" placeholder="来个创意标题吧"></br>

    <label for="tag">标签:</label></br>
    <input type="text" name="tag1" id="tag" placeholder="留个标记吧">
    <input type="text" name="tag2"  placeholder="留下对我的思念">
    <input type="text" name="tag3"  placeholder="想我时来找我"></br>

    <label>正文:</label></br>
    <textarea name="post" cols="100" rows="10"></textarea></br>
    <input type="submit" value="发表">
</form>
<% include footer %>